.wrapper {
  display: flex;
  position: relative;
  .main_content {
    width: 100%;
    margin-left: 200px;
    .header {
      padding: 20px;
      background: #fff;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
    }
    .info {
      color: #717171;
      line-height: 25px;
    }
  }
}
